
<div class="box box-success">
  <div class="box-body">

    <h1 class="page-header">
      <i class="fa fa-user-circle-o fa-fw"></i> <%= t :edit_profile %>
      <%= link_to icon(:reply), root_path, class: 'pull-right text-grey button' %>  
    </h1>



    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="panel panel-default" style="margin-bottom: 0;">

      <div class="panel-body">


        <div class="row">

          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :email, class: 'control-label' %>            
              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: true %>
            </div>
          </div>
          <div class="col-md-9">

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :password, class: 'control-label' %>
                  <i>(<%= t :leave_blank_if_you_dont_want_to_change_it %>)</i>
                  <%= f.password_field :password, autocomplete: "off", class: ['form-control'] %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :password_confirmation, class: 'control-label' %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: ['form-control'] %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :current_password, class: 'control-label' %>
                  <i>(<%= t :we_need_your_current_password_to_confirm_your_changes %>)</i>
                  <%= f.password_field :current_password, autocomplete: "off", class: ['form-control']  %>
                </div>
              </div>                  
            </div>
          </div>

        </div>

      </div> 
      <div class="panel-footer">
        <div class="actions text-right">
          <%= button_tag(t(:submit), type: 'submit', class: 'btn btn-success btn-ok btn-lg', data: {'disable-with' => t(:submiting)}) %>
        </div>
      </div>
    </div>


    <% end %>   



  </div>
</div>

