<div class="row">
  <div class="col-md-offset-4 col-md-4">
    



    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>


    <div class="box box-success">
      <div class="box-body">
        <h1 class="page-header"><i class="fa fa-user-plus fa-fw"></i> <%= t :sign_up %></h1>


        <div class="form-group">
          <%= f.label :email, class: 'control-label' %>            
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: true %>
        </div>


        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: true %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: true %>
        </div>


        <%= button_tag(t(:submit), type: 'submit', class: 'btn btn-success btn-block btn-lg', data: {'disable-with' => t(:submiting)}) %>
      </div>

    </div>


    <% end %>   



  </div>
</div>




