
<div class="row">
  <div class="col-md-offset-4 col-md-4">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="box box-success">
      <div class="box-body">
        <h1 class="page-header"><i class="fa fa-user-circle fa-fw"></i> <%= t :change_password %></h1>


         <div class="form-group">
          <div class="input-group <% if(resource.errors[:password].any?) %>has-error<% end %>">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <%= f.password_field :password, autocomplete: "off" , class: 'form-control', placeholder: true %>  
          </div>
        </div>

        <div class="form-group">
          <div class="input-group <% if(resource.errors[:password_confirmation].any?) %>has-error<% end %>">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <%= f.password_field :password_confirmation, autocomplete: "off" , class: 'form-control', placeholder: true %>  
          </div>
        </div>



        <%= f.submit t(:change_password), class: 'btn btn-lg btn-success btn-block', data: { 'disable-with' => t(:changing)} %>


      </div>
    </div>

    <% end %>


  </div>
</div>


