
<div class="row">
  <div class="col-md-offset-4 col-md-4">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>


    <div class="box box-success">
      <div class="box-body">
      <h1 class="page-header"><i class="fa fa-user-circle fa-fw"></i> <%= t :recover_password %></h1>


        <div class="form-group">
          <div class="input-group <% if(resource.errors[:email].any?) %>has-error<% end %>">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <%= f.text_field :email, autofocus: true, class: 'form-control', placeholder: 'Usuario/Email' %>
          </div>
        </div>

        <%= f.submit t(:send_me_instructions), class: 'btn btn-lg btn-success btn-block', data: { 'disable-with' => t(:sending)} %>


      </div>
    </div>

    <% end %>


  </div>
</div>



