<div class="row">
  <div class="col-md-offset-4 col-md-4">



    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


    <div class="box box-success">
      <div class="box-body">
        <h1 class="page-header"><i class="fa fa-sign-in fa-fw"></i> <%= t :login %></h1>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <%= f.password_field :password, autocomplete: "off" , class: 'form-control', placeholder: true %>  
          </div>
        </div>




        <% if devise_mapping.rememberable? -%>
          <label>
            <%= f.check_box :remember_me %> <%= t(:remember_me) %>
          </label>
        <% end -%>

        <%= button_tag(t(:login), type: 'submit', class: 'btn btn-success btn-block btn-lg', data: {'disable-with' => t(:logging)}) %>
        <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to t(:forgot_password), new_password_path(resource_name) %>
        <% end %>        
      </div>

    </div>


    <% end %>   





  </div>
</div>

