<header class="main-header">

  <!-- Logo -->
  <%= link_to root_path, class: 'logo' do %>
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>M</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>My app</b></span>
  <% end %>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">

    <!-- Sidebar toggle button-->
    <% if(user_signed_in?) %>
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <% end %>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

      
        <% if(user_signed_in?) %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-user fa-fw"></i>
              <span class="hidden-xs"><%= current_user.email %> <i class="fa fa-caret-down"></i></span>
            </a>
            <ul class="dropdown-menu dropdown-user">


              <li>
                <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user-circle-o fa-fw"></i> <%= t :edit_profile %>
                <% end %>
              </li>


              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out fa-fw"></i> <%= t :logout %>
                <% end %>
              </li>
            </ul>
          </li>
          <% else %>



            <% unless controller_name == 'sessions' && action_name == 'new' %>
               <li>
                <%= link_to new_user_session_path do %>
                <i class="fa fa-sign-in fa-fw"></i> <%= t :login %>
                <% end %>
              </li>
            <% end %>

            <% unless controller_name == 'registrations' && ((action_name == 'new') || (action_name == 'create')) %>
              <li>
                <%= link_to new_user_registration_path do %>
                <i class="fa fa-user-plus fa-fw"></i> <%= t :sign_up %>
                <% end %>
              </li>
            <% end %>



          <% end %>
      


      </ul>
    </div>
  </nav>
</header>