<div class="box box-success">
  <div class="box-body">
    <h1 class="page-header"><i class="fa fa-home fa-fw"></i> My app</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis, tortor eget cursus mattis, lorem velit aliquet erat, at pulvinar tellus tortor in eros. Sed in risus at enim efficitur iaculis. Pellentesque tincidunt neque et arcu sagittis sagittis at nec arcu. Aenean accumsan nulla sit amet risus feugiat, nec dapibus libero varius. Suspendisse sodales dui sed nunc porttitor aliquam. Pellentesque ut vehicula augue. Aenean ornare iaculis augue, et vestibulum velit efficitur eu.</p>

    <p>Nam convallis nisi ligula, vel tempus dolor tincidunt eget. Nullam consectetur ligula ut sapien volutpat interdum. Etiam venenatis dui cursus sagittis volutpat. In hac habitasse platea dictumst. Nulla tincidunt, libero vitae euismod semper, diam nisi ullamcorper sapien, nec hendrerit risus ex a est. Proin in malesuada ipsum. Nunc in malesuada dolor. Nam lacus nulla, tristique ac felis sit amet, placerat mattis nunc. Phasellus dolor tellus, tempor in augue in, laoreet consectetur ex. Phasellus elementum mauris sed dolor pulvinar lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed pretium mollis commodo. Vestibulum justo mauris, mollis in mauris sit amet, tempor aliquam justo. Maecenas ullamcorper elementum mi in viverra.</p>

    <p>Donec ac nulla nibh. Curabitur tempus nisl porttitor ipsum tincidunt hendrerit. Donec varius rutrum lorem id vehicula. Donec dignissim dui risus, sit amet dignissim ligula sagittis ut. Pellentesque hendrerit semper quam sed pretium. Donec erat sapien, porta eget erat id, mattis pretium ligula. Proin vestibulum urna eu pretium pharetra. Fusce libero quam, aliquet sed pharetra et, fermentum sit amet metus. Phasellus vitae mi sit amet augue feugiat auctor. In hac habitasse platea dictumst. Donec vel ullamcorper orci. Mauris faucibus sed felis ut auctor. Sed gravida ipsum ac enim ultricies, et sollicitudin nisl mattis. Donec sit amet blandit nibh. Ut rutrum lacus ipsum, quis suscipit eros aliquam a. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
  </div>
</div>
