<!DOCTYPE html>
<html lang="es">
<head><%= render 'head' %></head>
<body class="skin-green-light">
  <div class="wrapper">

    <%= render 'navbar' %>

    <aside class="main-sidebar">
      <section class="sidebar">
        <%= render 'side' %>
      </section>
    </aside>

    <div class="content-wrapper">
      <div class="content">

        <%= print_bread_crumbs(controller_name, action_name) %>

        <%= yield %>
        <section id="snackbar-container">
          <%= flash_messages if flash %>
        </section>
      </div>
    </div>

    <footer class="main-footer">
      <div class="text-right hidden-xs">
        <b>Version</b>
        <%= App::Application::VERSION %>
      </div>
    </footer>

  </div>
  <%= render 'modal_one' %>
</body>
</html>